<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>projetEtude</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>controllers.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilPostulantServlet</display-name>
    <servlet-name>AccueilPostulantServlet</servlet-name>
    <servlet-class>controllers.AccueilPostulantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilPostulantServlet</servlet-name>
    <url-pattern>/accueilPostulant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilRealisateurServlet</display-name>
    <servlet-name>AccueilRealisateurServlet</servlet-name>
    <servlet-class>controllers.AccueilRealisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilRealisateurServlet</servlet-name>
    <url-pattern>/accueilRealisateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionServlet</display-name>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>controllers.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>controllers.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>controllers.DownloadServlet</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/fichiers/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerMembreServlet</display-name>
    <servlet-name>SupprimerMembreServlet</servlet-name>
    <servlet-class>controllers.SupprimerMembreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerMembreServlet</servlet-name>
    <url-pattern>/supprimerMembre</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>RestrictionFiltre</filter-name>
    <filter-class>filtres.RestrictionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionFiltre</filter-name>
    <url-pattern>/restreint/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ConnexionAdminServlet</display-name>
    <servlet-name>ConnexionAdminServlet</servlet-name>
    <servlet-class>controllers.ConnexionAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionAdminServlet</servlet-name>
    <url-pattern>/connexionAdmin</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>RestrictionAdminFilter</display-name>
    <filter-name>RestrictionAdminFilter</filter-name>
    <filter-class>filtres.RestrictionAdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RestrictionAdminFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CalendrierHEIConnectServlet</display-name>
    <servlet-name>CalendrierHEIConnectServlet</servlet-name>
    <servlet-class>controllers.CalendrierHEIConnectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendrierHEIConnectServlet</servlet-name>
    <url-pattern>/calendrierHEIConnect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalendrierProGServlet</display-name>
    <servlet-name>CalendrierProGServlet</servlet-name>
    <servlet-class>controllers.CalendrierProGServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalendrierProGServlet</servlet-name>
    <url-pattern>/calendrierProG</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerEvenementJSONServlet</display-name>
    <servlet-name>ListerEvenementJSONServlet</servlet-name>
    <servlet-class>controllers.ListerEvenementJSONServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerEvenementJSONServlet</servlet-name>
    <url-pattern>/JSON</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterEvenementServlet</display-name>
    <servlet-name>AjouterEvenementServlet</servlet-name>
    <servlet-class>controllers.AjouterEvenementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterEvenementServlet</servlet-name>
    <url-pattern>/ajouterEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListerEvenementServlet</display-name>
    <servlet-name>ListerEvenementServlet</servlet-name>
    <servlet-class>controllers.ListerEvenementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListerEvenementServlet</servlet-name>
    <url-pattern>/listerEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierEvenementServlet</display-name>
    <servlet-name>ModifierEvenementServlet</servlet-name>
    <servlet-class>controllers.ModifierEvenementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierEvenementServlet</servlet-name>
    <url-pattern>/modifierEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerEvenementServlet</display-name>
    <servlet-name>SupprimerEvenementServlet</servlet-name>
    <servlet-class>controllers.SupprimerEvenementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerEvenementServlet</servlet-name>
    <url-pattern>/supprimerEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebcalServlet</display-name>
    <servlet-name>WebcalServlet</servlet-name>
    <servlet-class>controllers.WebcalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebcalServlet</servlet-name>
    <url-pattern>/webcal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdministrationServlet</display-name>
    <servlet-name>AdministrationServlet</servlet-name>
    <servlet-class>controllers.AdministrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrationServlet</servlet-name>
    <url-pattern>/administration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierMembreServlet</display-name>
    <servlet-name>ModifierMembreServlet</servlet-name>
    <servlet-class>controllers.ModifierMembreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierMembreServlet</servlet-name>
    <url-pattern>/modifierMembre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterMembreServlet</display-name>
    <servlet-name>AjouterMembreServlet</servlet-name>
    <servlet-class>controllers.AjouterMembreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterMembreServlet</servlet-name>
    <url-pattern>/ajouterMembre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>controllers.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>